<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="form-wrapper">
  <div class="form">
    <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
      <div class="form-item">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-btn">
        <%= f.submit "送信", class: "ui pink button" %>
      </div>
    <% end %>
  </div>
</div>