<% if current_user.already_favorited?(micropost) %>
  <%= link_to micropost_favorites_path(micropost), method: :delete, remote: true do %>
    <i class="fas fa-star"></i>
  <% end %>
<% else %>
  <%= link_to micropost_favorites_path(micropost), method: :post, remote: true do %>
    <i class="far fa-star"></i>
  <% end %>
<% end %>
<%= link_to micropost_favorites_path(micropost), method: :get do %>
  <span><%= micropost.favorites.count %></span>
<% end %>