<li>
  <% if user.image? %>
    <%= image_tag @user.image.thumb50.url, class: "user-icon" %>
  <% else %>
    <%= image_tag "default.jpg", alt: "user-icon", size: "50", class: "user-icon" %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "本当に削除しますか?" } %>
  <% end %>
</li>
