<% provide(:title, 'みんなの投稿') %>
<h1>みんなの投稿</h1>

<%= render partial: "shared/search_form", locals: { search_for: "地名"} %>

<ul class="microposts">
  <%= render @microposts %>
</ul>

<%= paginate @microposts %>