<header>
  <h1>
      <a href="/">go with</a>
  </h1>
  <nav class="pc-nav">
    <ul>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ログイン</a></li>
    </ul>
  </nav>
  <nav class="sp-nav">
    <ul>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ログイン</a></li>
      <li class="close"><span>閉じる</span></li>
    </ul>
  </nav>
  <div id="hamburger">
      <span></span>
  </div>
</header>
